.full-width-choices .select2-selection__choice {
  width: 85%;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  font-size: medium;
  border-radius: 0.5em;
  padding-left: 0 !important;
  white-space: normal;
  word-wrap: break-word;

  .select2-selection__choice__remove {
    padding-left: 1em;
    padding-right: 1em;
    top: -0.5em !important;
    position: relative;
    margin-right: 1em !important;
    background-color: lightgrey;
    border-right: grey;
  }
}

form .form-group.required>label:not(:empty):not(.form-check-label)::after {
  color: red;
  content: " *";
}

// change background color for required text field
form .form-group.required>input {
  background-color: pink;
}

// change background color for required textarea field
form .form-group.required>textarea {
  background-color: pink;
}

// change background color for required selection box
form .form-group.required>select {
  background-color: pink;
}




// TODO: change background color for required checkbox field
form .form-group.required>checkbox {
  background-color: pink;
}

// TODO: change background color for required select2 selection box
form .form-group.required>select2 {
  background-color: pink;
}

// TODO: change background color for required radio button
form .form-group.required>radio {
  background-color: pink;
}