.full-width-choices .select2-selection__choice {
  width: 85%;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  font-size: medium;
  border-radius: 0.5em;
  padding-left: 0 !important;
  white-space: normal;
  word-wrap: break-word;

  .select2-selection__choice__remove {
    padding-left: 1em;
    padding-right: 1em;
    top: -0.5em !important;
    position: relative;
    margin-right: 1em !important;
    background-color: lightgrey;
    border-right: grey;
  }
}

form .form-group.required>label:not(:empty):not(.form-check-label)::after {
  color: red;
  content: " *";
  background-color: lightyellow;
}