@media print {
    .animated {
        animation-duration: 0s;
    }

    .no-print {
        display: none !important;
    }

    .print-4 {
        flex: 0 0 33.333333333333%;
        max-width: 33.3333333333333%;
    }

        .print-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

        .print-8 {
        flex: 0 0 66.6666666666667%;
        max-width: 66.6666666666667%;
    }

}
